.logo{
    width: 150px;
    position: absolute;
    left: 50px;
    top: -25px;

}
.h7{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
     
      position: absolute;
      left: 1050px;
      top: 10px;
}
.hr1{
    position: relative;
    top: 70px;
}
.fa-lock{
    position: absolute;
    left: 550px;
    top: 150px;
    color: red;
    
}
.h8{
    position: absolute;
    left: 535px;
    top: 180px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 349;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.h9{
    position: absolute;
    left: 500px;
    top: 210px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.h10{
    position: absolute;
    left: 450px;
    top: 250px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 360;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.h11{
    position: absolute;
    left: 505px;
    top: 300px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.h12{
    position: absolute;
    left: 510px;
    top:310px; 
    font-size:13px; 

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;   
}
.f1{
    position: absolute;
    left: 420px;
    top: 390px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}
.f2{
    position: absolute;
    left: 420px;
    top: 450px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}
.f3{
    position: absolute;
    left: 420px;
    top: 510px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}
.f4{
    position: absolute;
    left: 420px;
    top: 570px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}
.h13{
    display: inline-block;
    position: absolute;
    top: -8px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 349;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.logo{
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 180px;
}
.logo3{
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 180px;
}
.logo1{
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 240px;
}
.logo2{
    width: 25px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 240px;
}