div{
    background-image: linear-gradient(to right,#000000,#1c1b1b7b),url(img/login-the-crown_2-1500x1000.png);
        width:1208px;
        height: 1000px;
        
        background-position: center;
       background-repeat: no-repeat;
       box-sizing: border-box;
    
    }
.f1{
    width: 270px;
    height: 350px;
    position: absolute;
    left: 450px;
    top: 100px;
    background: white;
}
h2{
    font-weight: 200px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 526;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h4{
   
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 1110px;
    
}
a{
   
    text-decoration: none;
}
.h8{
    position: absolute;
    left: 20px;
    top: 50px;
    display: inline-block;
font-weight: 300px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}
.input1{
    position: absolute;
    left: 20px;
    top: 107px;
}
.h7{
    position: absolute;
    left: 50px;
    top: 85px;
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.input2{
    position: absolute;
    left: 20px;
    top: 138px;
}
.h9{
    position: absolute;
    left: 50px;
    top: 115px;
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.h10{
    position: absolute;
    left: 20px;
    top: 160px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.input3{
    position: absolute;
    left: 20px;
    top: 230px;
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px;
   
}
.input4{
    position: absolute;
    left: 20px;
    top: 270px;
    width: 260px;
    height: 35px;
color: white;
    background: rgb(8, 99, 235);
    border-radius: 10px;
    border: solid 1px;
   
  
}
.h11{
    position: absolute;
    left: 20px;
    top: 300px;
    color: aqua;
}
a{
    text-decoration: none;
    color: rgb(19, 78, 216);

}
a:hover{
    text-decoration: underline;
}
.logo{
    width: 200px;
    position: absolute;
    top: -25px;
    left: 50px;
}